*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarMain {
  width: 100%;
  display: flex;
  justify-content: center; 
  background-color: rgb(0, 0, 0, 0.5);

}

.innerNavbar {
  width: 85%;
  display: flex;
  height: 75px;
  align-items: flex-end;
  justify-content: space-between;
}

.left > img{
    margin: 10px;
    cursor: pointer;
    max-width: 100%;

}

.right{
    /* min-width: 26%; */
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.right > button {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 0px;
    font-family: sans-serif;
    margin: 10px;
}
@media screen and (max-width: 780px){
  .right{
    width: 26%;
  }

  .left {
    width: 40%;
  }
}

@media screen and (max-width: 590px){
  .right{
    min-width: 30%;
  }

}

@media screen and (max-width: 480px){
  .right{
    min-width: 30%;
  }
  .right > button{
    font-size: x-small;
  }

}